/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer header .headerTitleWithLogo {
    color: #f5efff;
    line-height: initial;
}

.fixedHeaderContainer header img {
    height: 73%;
}

.nav-footer {
    background: #f1f2f5;
    color: #333;
}

.nav-footer .copyright {
    color: #999;
}

.headerTitle {
    font-weight: 200;
}